<%= form_tag update_multiple_tasks_path, method: :put do %>
  <div class="row">
    <div class="small-6 medium-9 columns">
      Description
    </div>
    <div class="small-2 medium-1 columns">
      Do It
    </div>
    <div class="small-2 medium-1 columns">
      Plan It
    </div>
    <div class="small-2 medium-1 columns">
      Save It
    </div>
  </div>
  <% @tasks.each do |task| %>
    <div class="row">
    <%= fields_for "tasks[]", task do |t| %>
      <div class="small-6 medium-9 columns">
        <%= t.text_field :description, readonly: true %>
      </div>
      <div class="small-2 medium-1 columns">
        <%= t.radio_button :category_id, "1" %>
      </div>
      <div class="small-2 medium-1 columns">
        <%= t.radio_button :category_id, "2" %>
      </div>
      <div class="small-2 medium-1 columns">
        <%= t.radio_button :category_id, "3" %>
      </div>
    <% end %>
    </div>
  <% end %>
  <p><%= submit_tag 'Update All', class: "button radius" %></p>
<% end %>
<p>once you've got your list, it's time to take the next step</p>
<%= link_to "Categorize It!", categorize_tasks_path, class: "button radius" %>

