<p>link table below</p>

	<th>Description</th>
	<th>Created at</th>
	<% @tasks.each do |task| %>
		
		<%= form_for task do |t| %>		
			<%= t.text_field :description, readonly: true%>
		  <%= t.datetime_field :created_at %>
      <%= t.radio_button :category_id, "1" %> Git 'er Done
      <%= t.radio_button :category_id, "2" %> Ponder It


			<%= link_to "edit", edit_task_path(t) %>
			<%= link_to "delete", task_path(t), confirm: "Sure?", method: :delete %>
			<%= t.submit 'save' %>
		<% end %>	
		


	<% end %>

