<h3> and now you need to decide whether each task is ready to do or is still marinating in your mind</h3>
<%= form_tag update_multiple_tasks_path, method: :put do %>

  <table>
    <tr>
      <th>Description</th>
      <th>Path</th>
      <th>Modify</th>
    </tr>
  <% @tasks.each do |task| %>
    <tr>
    <%= fields_for "tasks[]", task do |t| %>
      <td><%= t.text_field :description, readonly: true %></td>

      <td>
        <%= t.radio_button :path_id, "1" %> Do It
        <%= t.radio_button :path_id, "2" %> Ponder It
      </td>

      <td>
        <%= link_to "edit description", edit_task_path(task) %>
        <%= link_to "delete", task_path(task), confirm: "Sure?", method: :delete %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
    <p><%= submit_tag 'Update All' %></p>
<% end %>

<%= link_to "Next: Categorize Whatcha Gonna Do!", categorize_tasks_path %>