<p>link table below</p>
<table>
  <tr>
  	<th>Description</th>
  	<th>Category</th>
    <th>Modify</th>
  </tr>

    <% @tasks.each do |task| %>
    <tr>  		
  		<%= form_for task do |t| %>		
  			<td><%= t.text_field :description, readonly: true%></td>
        <td>
          <%= t.radio_button :category_id, "1" %> Git 'er Done
          <%= t.radio_button :category_id, "2" %> Ponder It
        </td>
        <td>
          <%= link_to "edit", edit_task_path(task) %>
          <%= link_to "delete", task_path(task), confirm: "Sure?", method: :delete %>
          <%= t.submit 'save' %>
        </td>
  	</tr>	
      <% end %>	
	 <% end %>

</table>  