<h3>Categorize your Tasks</h3>

<p>ok, we've got a great list of things to do</p>
<p>now lets break it down by:</p>
<ul>
  <li>what you can do right away</li>
  <li>projects with several steps</li>
  <li>stuff for later</li>
</ul>

<%= form_tag categorize_multiple_tasks_path, method: :put do %>

  <table>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Modify</th>
    </tr>
  <% @tasks.each do |task| %>
    <tr>
    <%= fields_for "tasks[]", task do |t| %>
      <td><%= t.text_field :description, readonly: true %></td>

      <td>
        <%= t.radio_button :category_id, "1" %> Git 'er Done
        <%= t.radio_button :category_id, "2" %> It's a Project
        <%= t.radio_button :category_id, "3" %> Waiting on Something
      </td>

      <td>
        <%= link_to "edit description", edit_task_path(task) %>
        <%= link_to "delete", task_path(task), confirm: "Sure?", method: :delete %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
    <p><%= submit_tag 'Update All', class: 'button radius' %></p>
<% end %>
