<h1>Do It!</h1>
<% if @tasks.empty? %>
  <p>you don't have any tasks to plan</p>
  <% else %>
    <h3>drag n' drop to sort</h3> 
    <br>
    <%= form_tag completed_tasks_path, :method => :put do %>
      <ul id="tasks" data-update-url="<%= sort_tasks_url %>">
      <% for task in @tasks %>
        <%= content_tag_for(:li, task) do %>
          <span class="handle">
            <%= check_box_tag "task_ids[]", task.id %>
            <%= task.description %>
          </span>
        <% end %>
      <% end %>
    <% end %>
    <%= submit_tag "Mark as Complete", class: 'button radius' %>

    <% if !@completed_tasks.empty? %>
      <hr>
      <h2>completed tasks</h2>
    <% end %>
      <% for task in @completed_tasks %>
          <ul>
            <li><%= task.description %></li>
          </ul>
      <% end %>
<% end %>