<h3>Tasks For Later</h3>

<% if @tasks.empty? %>
  <p>you don't have any tasks categorized for later</p>
  <% else %>

  <p>Peruse at your leisure, and feel free to update any</p>

  <p>tasks that are ready for the next step</p>

  <%= form_tag update_multiple_tasks_path, method: :put do %>

    <% @tasks.each do |task| %>
      <div class="row">
        <%= fields_for "tasks[]", task do |t| %>
          <div class="small-12 large-8 columns">
            <%= t.text_field :description %>
          </div>
          <div class="small-6 large-2 columns">
            <%= t.radio_button :category_id, "1" %>
            <%= t.label :category_id, 'Do It' %>
          </div>
          <div class="small-6 large-2 columns">
            <%= t.radio_button :category_id, "2" %>
            <%= t.label :category_id, 'Plan It' %>
          </div>
        <% end %>
      <% end %>
      </div>
    <p><%= submit_tag 'Update All', class: "button radius" %></p>
  <% end %>

  <h3>don't forget to click 'update' before moving on</h3>

  <%= link_to "Do It", finish_tasks_path, class: "button radius" %>

  <%= link_to "Plan It", project_tasks_path, class: "button radius" %>
<% end %>