<h3>Tasks For Later</h3>

<p>Peruse at your leisure, and feel free to update any</p>

<p>tasks that are ready for the next step</p>

<%= form_tag update_later_tasks_path, method: :put do %>

  <table>
    <tr>
      <th>Description</th>
      <th>Path</th>
      <th>Modify</th>
    </tr>
  <% @tasks.each do |task| %>
    <tr>
    <%= fields_for "tasks[]", task do |t| %>
      <td><%= t.text_field :description, readonly: true %></td>

      <td>
        <%= t.radio_button :path_id, "2" %> Ponder It
        <%= t.radio_button :category_id, "1" %> Git 'er Done
        <%= t.radio_button :category_id, "2" %> It's a Project
        <%= t.radio_button :category_id, "3" %> Waiting on Something
      </td>

      <td>
        <%= link_to "edit description", edit_task_path(task) %>
        <%= link_to "delete", task_path(task), confirm: "Sure?", method: :delete %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
    <p><%= submit_tag 'Update All' %></p>
<% end %>

<%= link_to "Projects", project_tasks_path %>
<%= link_to "Git 'er Done!", finish_tasks_path %>