<h3>all open tasks</h3>
<% @tasks.each do |task| %>
  <div class="row">
    <%= fields_for "tasks[]", task do |t| %>
      <div class="small-12 large-6 columns">  
        <%= t.text_field :description, readonly: true %>
      </div>
      <div class="small-12 large-3 columns">
        <%= t.radio_button :category_id, "1" %> Do It
        <%= t.radio_button :category_id, "2" %> Plan It
        <%= t.radio_button :category_id, "3" %> Later
      </div>
      <div class="small-12 large-3 columns">
        <%= link_to "edit description", edit_task_path(task), class: "tiny button radius" %>
        <%= link_to "delete", task_path(task), method: :delete, class: "tiny button radius"%>
      </div>
    <% end %>
  </div>
<% end %>
