<h1>Saddle up folks, we're gonna git 'er done!</h1>

<p>even if you're just pondering on something,</p>
<p>git it all outta yer head so you ain't thinkin' on it any more</p>

<%= form_for @task do |f| %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.radio_button :path_id, "1" %> Do It
    <%= f.radio_button :path_id, "2" %> Ponder It
	<%= f.submit "Add Task" %>
<% end %>

<% if !@tasks.empty? %>
	<p><%= render 'link' %></p>
<% end %>
