<h3>Work your Projects</h3>
<p>when you're ready to Git 'er Done, move it on over</p>

<%= form_tag categorize_multiple_tasks_path, method: :put do %>

  <table>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Modify</th>
    </tr>
  <% @tasks.each do |task| %>
    <tr>
    <%= fields_for "tasks[]", task do |t| %>
      <td><%= t.text_field :description, readonly: true %></td>

      <td>
        <%= t.radio_button :category_id, "2" %> Project
        <%= t.radio_button :category_id, "1" %> Git 'er Done
        <%= t.radio_button :category_id, "3" %> Waiting on Something
        <%= t.radio_button :path_id, "2" %> Ponder It

      </td>

      <td>
        <%= link_to "edit description", edit_task_path(task) %>
        <%= link_to "delete", task_path(task), confirm: "Sure?", method: :delete %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
    <p><%= submit_tag 'Update All' %></p>
<% end %>

<h4>or you can add a new task:</h4>

<%= form_for @task do |f| %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.radio_button :category_id, "1" %> Git 'er Done
    <%= f.radio_button :category_id, "2" %> Project
	<%= f.submit "Add Task" %>
<% end %>

<%= link_to "Git 'er Done!", finish_tasks_path %>
<%= link_to "Stuff for later", later_tasks_path %>