<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "git 'er done" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

  <body>

  <nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <a href="/"><h1 id="logo_long">Redneck Task Management</h1></a>
	      <a href="/"><h1 id="logo_short">Redneck Tasks</h1></a>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>
	  <section class="top-bar-section">
	    <ul class="right">
    	<% if current_user %>
	      <li class="divider"></li>
	      <li><%= link_to "Tasks", new_task_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Do It", finish_tasks_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Plan It", project_tasks_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Later", later_tasks_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Full List", list_tasks_path %></li>
		<% else %>
	      <li class="divider"></li>
	      <li><%= link_to "Log In", login_path %></li>
		<% end %>
	    </ul>
	  </section>
	</nav>

    <%= yield %>

	<% flash.each do |key, value| %>
		<p><%= key %>: <%= value %></p>
	<% end %>

    <%= javascript_include_tag "application" %>

  </body>

  <br>
	<hr>
	<% if current_user %>
		Logged in as <strong><%= current_user.name %></strong>.
		<% if current_user.guest? %>
		    <%= link_to "Become a Member", signup_path %>
	 	<% else %>
			<%= link_to "Log Out", logout_path, :method => :delete %>
		<% end %>
	<% else %>
	<% end %>

<%= javascript_include_tag "application" %>
<script type="text/javascript">$(function(){ $(document).foundation(); });</script>


</html>